# 忽略idea
.idea

# reptile下的node_modules
reptile/node_modules/

# api下的node_modules
api/node_modules/

# ignore config.js
config.js

# ignore reptile/log/
reptile/log/

#api/server/datasources.json
api/server/datasources.json
reptile/config.js

#忽略微信小城序的生成的dist目录
weixin/dist/
weixin/node_modules/